# -------------------------------- Rest API --------------------------------
NEXTAUTH_URL=http://localhost:3000/
NEXT_AUTH_PUBLIC_API_URL = http://localhost:3000
NEXT_AUTH_JWT_SECRET=BEPLAYGROUND1111

# -------------------------------- Rest API --------------------------------
NEXT_PUBLIC_API_URL=https://localhost:3000/

# -------------------------------- Generator -------------------------------
API_SCHEMA_PATH=https://localhost:3000/api-json
GRAPHQL_SCHEMA_PATH=https://localhost:3000/graphql
